@model List<DataBase.Base>
@{
    ViewData["Title"] = "Delivery";
}

<header>
    <span class="logo">Orders</span>
</header>

<table class="orders">
    <tr>
        <td>Number Order</td>
        <td>Sender City</td>
        <td>Repicient City</td>
        <td>Date of receipt</td>
    </tr>
        @foreach(var item in Model) {
            <tr>
                <td>@item.Id</td>
                <td>@item.SenderCity</td>
                <td>@item.RecipientCity</td>
                <td>@item.Date.ToShortDateString()</td>
                <td class="button">
                    <a asp-action="FullInfo" asp-route-id="@item.Id">Full info</a>
                </td>
                <td class="button">
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>               
        }
</table>